---
---

* {
    box-sizing: border-box;
}

html {
    font-family: system-ui,sans-serif;
    line-height: 1.6;
    font-size: 1rem;
}

nav, main, footer {
    max-width: 750px;
    margin: auto;
    padding: 1em;
}

nav {
    border-bottom: 1px solid #a2a2a2;
}

footer {
    border-top: 1px solid #a2a2a2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    * {
        margin: 0 .5em;
    }
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    // When changing this color it is worth checking
    // the contrast ration in Chrome's web inspector
    // to get a good match.
    color: #8f413b; // #00645b; //#005aa2;
}

.muted {
    opacity: 0.6;
}

// Settled on moving the import of syntax highlighting to the bottom of the
// CSS ... Otherwise it really bloats up the top of the CSS file and makes it
// difficult to find the start
@import "highlights";

code {
    //font-family: monospace;
}

/* inline codes */
code.highlighter-rouge {
    border-radius: .2em;
}

.highlight {
  white-space: pre;
  overflow: auto;
  word-wrap: normal; /* horizontal scrolling */
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
