---
---

// Variables

// When changing this color it is worth checking
// the contrast ration in Chrome's web inspector
// to get a good match.
$link-colour: #8f413b; // #00645b; // #005aa2; //

// when to switch from desktop to mobile.
$break-point: 780px;

* {
    box-sizing: border-box;
}

html {
    font-family: system-ui,sans-serif;
    line-height: 1.6;
    font-size: 1rem;
    min-height: 100%;
    border: 15px solid black;
}

@media (max-width: $break-point) {
    html {
        border-width: 5px;
    }

}

.blog-nav, .blog-main, .blog-footer {
    max-width: 750px;
    margin: auto;
    padding: 1em;
}

.blog-nav {
    border-bottom: 2px solid black;
}

.blog-footer {
    border-top: 1px solid #a2a2a2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    * {
        margin: 0 .5em;
    }
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: $link-colour;
}

blockquote {
    padding: 0.5em 1em;
    background: #eee;
    border-left: 5px solid $link-colour;
    margin-left: 0;
    margin-right: 0;
}

.muted {
    opacity: 0.6;
}

.small {
    font-size: 0.8rem;
}

// Settled on moving the import of syntax highlighting to the bottom of the
// CSS ... Otherwise it really bloats up the top of the CSS file and makes it
// difficult to find the start
@import "highlights";

// UI elements

.columns {
    display: flex;
}

@media (max-width: $break-point) {
    .columns {
        display: block;
    }
}

.column {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0.75rem;
}

.pre-table-striped + table,
.table-striped {
    border-collapse: collapse;

    td, th {
        border: 1px solid black;
        padding: 0 1em;
    }

    tr:nth-child(even) {
        background-color: #eee;
    }

    tr:nth-child(odd) {
        background-color: #fff;
    }
}

.h-table th, .h-table td {
    padding: 0 1em;
}
