---
---

html {
    font-family: system-ui,sans-serif;
    line-height: 1.6;
    font-size: 1rem;
}

nav, main, footer {
    max-width: 750px;
    margin: auto;
}

nav, footer {
    padding: 1em;
}

nav {
    border-bottom: 1px solid #a2a2a2;
    margin-bottom: 1em;
}

footer {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #a2a2a2;
    margin-top: 1em;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

// Settled on moving the import of syntax highlighting to the bottom of the
// CSS ... Otherwise it really bloats up the top of the CSS file and makes it
// difficult to find the start
@import "highlights";
